/.vscode
/portfolio/week1/weather.sh
/portfolio/week2/test
/portfolio/week2/tyson
/portfolio/week2/ignore/*
/portfolio/week3/ignore/*
/portfolio/week5/test.txt
/portfolio/week6/ignore/*
/assignment/notes.txt
/assignment/*.docx
/assignment/*.mp4
*.gif